<div class="position-info">
    <div class="pos-title b-b">
        <h2 class="title f-l ell ta-l" ng-bind="pos.name"></h2>
        <div ng-show="isLogin" class="coll-icon f-r ta-c" ng-init="flag=false;collect='未'" ng-click="flag=!flag;collect=flag?'已':'未';favorite()">
            <span class="d-b" ng-class="{true:'coll',false:'notcoll'}[flag]"></span>
            <span class=" d-b text" ng-bind="collect+'收藏'"></span>
        </div>
    </div>
    <div class="detail b-b">
        <ul class="items l-s-t" >
            <li class="ell d-ib  ta-l salary" ><i></i><span ng-bind="pos.salaryName"></span></li>
            <li class="ell d-ib  ta-c address"><i></i><span ng-bind="pos.cityName"></span></li>
            <li class="ell d-ib  ta-r job"><i></i><span ng-bind="pos.jobType"></span></li>
            <li class="ell d-ib  ta-l workyear"><i></i><span ng-bind="pos.experience"></span></li>
            <li class="ell d-ib  ta-c education"><i></i><span ng-bind="pos.education"></span></li>
        </ul>
        <div class="temptation" ng-bind="pos.benefit"></div>
    </div>
</div>