<div app-head-bar text="'职位详情'"></div>
<div app-position-info></div>
<div app-company></div>
<h5 class="positiondes">职位描述</h5>
<div class="des-content">
    <p>【职位诱惑】有激情的团队，背靠搜狗有雄厚的产品和技术能力储备，关注用户体验和产品价值输出，行业领先的市场销售能力。</p>
    <p>【特别提示】搜狗欢迎专情的你，所以提醒你只能选择两个项目，请慎重投递。</p>
    <p>【岗位职责】</p>
    <p>1、负责糖猫产品数据建模与数据分析，包括数据清洗、数据仓库构建、数据报表制作</p>
    <p>2、负责糖猫运营系统开发，包括零售系统、进销存系统、报表系统等</p>
    <p>3、负责糖猫相关算法开发工作，如报平安、运动识别、用户画像、智能问答等方向</p>
    <p>【任职条件】</p>
    <p>1、计算机相关专业毕业， 本科及以上学历</p>
    <p>2、有2年以上java、python开发经验，熟悉 MVC开发框架</p>
    <p>3、熟悉机器学习方法，有大数据下算法开发经验优先</p>
    <p>4、认真，细致，有研究精神</p>
    <p>5、有开发经验者优先</p>
    <p>【部门概述】</p>
    <p>搜狗IOT事业部致力于在万物互联时代，让更好的“AI+硬件”为每一个人的生活服务。依托搜狗在AI领域长期积累的语音识别、语义理解、图像识别、知识图谱、翻译等技术优势，我们将通过软硬结合的方式，将虚拟个人助理融入到人们生活中的随身、居家、车载三大场景中。通过过往3年我们在儿童穿戴领域的积累，我们在产品创新、软硬件研发、外观设计、供应链、营销等方面沉淀了行业领先的竞争力，旗下子品牌糖猫推出的儿童智能手表产品在行业中处于领先地位，并多次获得多内外设计奖项。面向未来，我们希望找寻对“AI+硬件”有深入理解的有志同仁加入，在IOT时代共同为人们创造更智能的生活方式。</p>
</div>
<h5 class="positiondes">面试评价 (0)</h5>
<ul class="interview-eval ">
    <li class="list-item empty">暂无面试评价</li>
</ul>
<div class="fix-btn pf"><div class="delivery-resume ta-c">投递简历</div></div>